/*** Variables ***/

:root {
    --fuente: 'Raleway', sans-serif;

    --negro: #464646; 
    --blanco: #FFFFFF;
    --celeste: #EAF2FD;
    --gris: #E5E5E5;
}

/*** Globales ***/

html {
    font-size: 62.5%;
    box-sizing: border-box;     
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body { 
    font-size: 1.6rem;    
    font-family: var(--fuente);
    color: var(--negro);
}

a{
    text-decoration: none;
    color: var(--negro);
}

.contenedor{
    max-width: 95%;
    margin: 0 auto;
}

/*** Header ***/

header{
    background-color: var(--gris);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0;    
}

.logo{
    display: flex;    
}

.logo-imagen{
    position: relative;
    display: flex;    
    align-items: center;
}

.star-big{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.star-up{
    width: 8px;
    height: 8px;
    position: absolute;
    top: -1px;
    left: 15px;
}

.star-down{
    width: 8px;
    height: 8px;    
    position: absolute;
    top: 12px;
    left: 15px;
}

.logo-texto{
    width: 130px;
    height: 19px;    
    position: absolute;
    top: -1.5px;
    left: 32px;
    font-size: 1.6rem;
}

.nav{
    position: relative;
    width: 650px;
}

.links a{
    display: none;
}

.links a:last-child{
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1.4rem;
}

/*** Hero ***/

main{
    background-color: var(--gris);
}

.hero{
    display: flex;    
    flex-direction: column-reverse;    
    padding: 1rem 0;
    background-color: var(--gris);
}

.hero h1{
    font-size: 2.2rem;
    font-weight: 700;
}

.hero p{
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-imagen img{
    border-radius: 50%;
    width: 98px;    
}

.redes-sociales{
    display: flex;    
    margin: 3rem 0 1rem;
}

.redes-sociales p{  
    display: inline;  
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--negro);
    margin-right: .4rem; 
}

.redes-sociales a{
    margin-right: .8rem;
}

.redes-sociales a img{
    width: 10.5px;    
}

.redes-sociales a:last-child{
    margin-right: 0;
}

/*** Sobre mi ***/
#sobre-mi{
    background-color: var(--celeste);
}

.sobre-mi{
    padding: 1.6rem 0;
}

.sobre-mi h2{
    font-size: 2.2rem;
}

.sobre-mi p{
    font-size: 1.4rem;    
}

.sobre-mi h2,
.sobre-mi p{
    margin-bottom: 1.5rem;
}

/*** Skills y Hobbies ***/
#skills,
#hobbies{
    background-color: var(--gris);        
}

.skills,
.hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    gap: 1.6rem;
    flex: 1 1 0px;    
}

.caja-skills,
.caja-hobbies{
    width: 156px;
    height: 118px;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .8rem;
    padding-left: 1.6rem;
}

.caja-skills img,
.caja-hobbies img{
    display: block;
}

#skills h2{
    padding: 1.6rem 0 3rem;    
}

#hobbies h2{
    padding: 3rem 0 3rem;
}

#skills h2,
#hobbies h2{    
    text-align: center;
}

.skills p,
.hobbies p{
    margin-bottom: 1.5rem;
}

.caja-skills p,
.caja-hobbies p{
    font-weight: 700;
}

.caja-skills img,
.caja-hobbies img{
    width: 3rem;
    height: 3rem; 
}